@import 'tailwindcss';

.scroll-menu{
  animation: animation-menu linear both;
  animation-timeline: scroll(root block);
  animation-range: 0 100vh;
}

@keyframes animation-menu {
  from {
    filter: invert(1) sepia(0.3) saturate(0) hue-rotate(0deg);
  }

  to {
    filter: none;
  }
}


.ministerios:first-child{
  grid-row: 1/3;
}

.consejo__image{
  mask-image: linear-gradient(
    black 80%,
    transparent
  );
}