@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-animation {
  animation: animation-bar linear both;
  animation-timeline: scroll(root block);
  animation-range: 0 150px;
}

.scroll-logo-desktop {
  animation: animation-logo-desktop linear both;
  animation-timeline: scroll(root block);
  animation-range: 0 150px;
}

.scroll-bg {
  animation: animation-bg linear both;
  animation-timeline: scroll(root block);
  animation-range: 0 150px;
}

.scroll-letter-bold {
  animation: animation-letter-bold linear both;
  animation-timeline: scroll(root block);
  animation-range: 0 150px;
}

.scroll-menu{
  animation: animation-menu linear both;
  animation-timeline: scroll(root block);
  animation-range: 0 100vh;
}

@keyframes animation-menu {
  from {
    filter: invert(1) sepia(0.3) saturate(0) hue-rotate(0deg);
  }

  to {
    filter: none;
  }
}
@keyframes animation-bar {
  from {
    filter: invert(1) sepia(0.3) saturate(0) hue-rotate(0deg);
  }

  to {
    filter: none;
  }
}

@keyframes animation-letter-bold {
  from {
    color: #060735
  }

  to {
    color: white;
  }
}

@keyframes animation-bg {
  to {
    background-color: #060735;
  }
}

@keyframes animation-logo-desktop {
  from {
    filter: none;
  }

  to {
    filter: invert(1) sepia(0.3) saturate(0) hue-rotate(0deg);
  }
}

.logo-filter {
  filter: invert(1) sepia(0.3) saturate(0) hue-rotate(0deg);
}


.innerShadowDonationCard {
  box-shadow: inset 1px 5px 4px 0 #00000025;
}

.rbc-event-label{
  display: none !important;
}

.ministerios:first-child{
  grid-row: 1/3;
}